/* Estilos básicos para la página */
body {
    font-family: Monserrat, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #050452 !important;
    /* Esto fuerza el color */
}

/* Navbar */
nav {
    background-color: #f7f7f7;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #04133b;
    /* Fondo claro para el navbar */
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra solo abajo */
    position: fixed;
    /* Fijar el navbar al tope de la página */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* Asegura que esté por encima del resto del contenido */
}

.navbar-left img {
    height: 40px;
    /* Tamaño original del logo */
    transform: scale(1.5);
    /* Escala la imagen al 150% de su tamaño original */
    transform-origin: left center;
    /* Mantiene el logo alineado a la izquierda */
    width: 18vh;
}

.navbar-right ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-right a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-right a:hover {
    background-color: #002366;
    /* Azul marino similar al logo */
    color: #fff;
    /* Texto blanco */
}




main {
    padding-top: 100px;
    /* Ajustar el padding superior para evitar que el contenido quede debajo del navbar */
}

/* Sección de bienvenida */
.welcome-section {
    background-color: #ffffff;
    padding: 20px 30px;
    /* Reducir padding superior para que suba */
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.welcome-section h1 {
    font-size: 48px;
    color: #333;
    margin-top: 10px;
    /* Mover el título más arriba */
}

.welcome-section p {
    font-size: 18px;
    color: #666;
    margin-top: 5px;
    /* Mover el párrafo más arriba */
}

.course-container {
    width: 30%;
    /* Ajustar el ancho del contenedor */
    margin: 0 auto;
    text-align: center;
}

.course-img {
    width: 100%;
    height: 200px;
    /* Altura más pequeña */
    object-fit: cover;
    /* Mantiene las proporciones sin deformar */
    border-radius: 10px;
    /* Bordes redondeados opcionales */
}

.courses-section {
    display: flex;
    justify-content: space-around;
    /* Espacio igual entre los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
    gap: 20px;
    /* Espacio entre los contenedores */
}

.button {
    position: relative;
    background-color: #050452;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.button .icon {
    margin-left: 10px;
    opacity: 0;
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
}

.button::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #002366;
    z-index: -1;
    transition: top 0.4s ease-in-out;
}

.button:hover::before {
    top: 0;
}

.button:hover {
    color: #ffffff;
    transform: scale(1.05);
}

.button:hover .icon {
    opacity: 1;
}

button span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

button:hover span {
    transform: translateX(5px);
}

.button i {
    margin-right: 8px;
    /* Ajusta este valor según el espacio que quieras */
}






/* Introducción */
.intro-section {
    padding: 10px 80px;
    /* Reducir el padding superior */
}

/* Flexbox para alinear imagen y texto */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-text h2 {
    font-family: 'Montserrat', sans-serif;
    /* Cambiar la fuente */
    font-size: 4rem;
    /* Cambiar el tamaño de la letra */
    font-weight: bold;
    /* Cambiar el grosor de la letra */
    color: #000000;
    /* Cambiar el color de la letra */
    text-transform: uppercase;
    /* Poner el texto en mayúsculas */
    letter-spacing: 2px;
    /* Ajustar el espaciado entre letras */
    text-align: center;
    /* Centrar el texto */
    margin-bottom: 20px;
    /* Ajustar el margen inferior */
}

p {
    font-family: 'Montserrat', sans-serif;
    /* Cambiar la fuente */

}

.intro-icon {
    width: 500px;
    /* Asegúrate de que sea igual para width y height */
    height: 500px;
    border-radius: 50%;
    /* Hace el contenedor circular */
    overflow: hidden;
    /* Asegúrate de que la imagen no se salga del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #0A0A34;
    /* Color y grosor del borde */
}

.intro-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que la imagen cubra todo el contenedor circular */
}

/* Estilos de texto */
.intro-text {
    flex: 2;
    margin-left: 30px;
    /* Reducir el margen entre la imagen y el texto */
    text-align: justify;
    /* Justificar el texto */
}

.intro-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.intro-text p {
    font-size: 1.0rem;
    line-height: 1.6;
    text-align: justify;
}

.intro-button {
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
}







/* Ejemplo de ajustes adicionales */
.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente */
    border-radius: 10px;
    padding: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.carousel-indicators button {
    background-color: #1a1aff;
}

.carousel-indicators .active {
    background-color: #ff6700;
}







.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Estilos personalizados */
.objectives-section {
    background-size: cover;
    padding: 60px 0;
    text-align: center;
}

.objectives-section h2 {
    font-size: 36px;
    color: white;
    margin-bottom: 40px;
}

.objective-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.objective-icon {
    font-size: 50px;
    color: #1a1aff;
    margin-bottom: 15px;
}

.objective-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.objective-description {
    color: #666;
}

.objective-link {
    margin-top: 15px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #1a1aff;
}

.limitations-section {
    background-color: #f6f6f6;
    padding: 60px 0;
}

.limitation-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 30px;
}

.limitation-card img {
    width: 100%;
    height: auto;
}

.limitation-content {
    padding: 20px;
}

.limitation-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.limitation-description {
    margin-bottom: 15px;
    color: #666;
}

.limitation-link {
    font-weight: bold;
    text-decoration: none;
    color: #ff6700;
}

.limitation-link:hover {
    text-decoration: underline;
}

.alcances-section {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.alcances-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
}

.alcances-description {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 50px;
}

.alcances-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.alcances-card img {
    width: 60px;
    margin-bottom: 20px;
}

.alcances-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.alcances-card p {
    color: #666;
}

.alcances-image {
    max-width: 300px;
    margin: 0 auto 50px auto;
}

.alcances-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}





/* Estilos principales del contenedor */
.contact-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    /* Centrado horizontalmente sin espacio superior e inferior */
    background-color: #fffafa;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(8, 2, 97, 0.562);
    overflow: hidden;
    margin-top: 80px;
}

/* Información de contacto */
.contact-info {
    background-color: #04133b;
    color: white;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Formulario de contacto */
.contact-form {
    flex: 2;
    padding: 20px;
}

.contact-info h2 {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-info p {
    margin: 3px 0;
}

/* Formulario de contacto */
.contact-form {
    flex: 2;
    padding: 20px;
    /* Reducido para optimizar espacio */
}

.contact-form h2 {
    margin-bottom: 15px;
    /* Reducido para optimizar espacio */
}

.contact-form label {
    display: block;
    margin-top: 8px;
    /* Reducido para que los elementos estén más juntos */
    margin-bottom: 4px;
    /* Reducido para optimizar espacio */
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    width: 100%;
    padding: 8px;
    /* Reducido para ocupar menos espacio vertical */
    margin-bottom: 8px;
    /* Reducido para que los elementos estén más cerca entre sí */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Estilo para el botón de envío */
.submit-btn {
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    /* Reducido para ajustar el tamaño del botón */
    background-color: #071864;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0a3255;
}





/* Contenedor principal para centrar las categorías en la pantalla */
.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 0;
    min-height: 80vh; /* Ajuste para centrar verticalmente */
    box-sizing: border-box;
}

/* Estilo para cada caja de categoría */
.category-box {
    width: 300px; /* Aumentar el ancho */
    height: 420px; /* Aumentar la altura */
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.category-box:hover {
    transform: scale(1.05);
}

/* Imagen dentro de la caja */
.category-box img {
    width: 240px; /* Imagen más grande */
    height: 240px; /* Imagen más grande */
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 50%;
}

/* Título de la categoría */
.category-box h3 {
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

/* Botones de selección con estilos específicos */
.btn-bio {
    background-color: #28a745; /* Verde para Biología */
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 30px;/* Separar el botón del título */
}

.btn-bio:hover {
    background-color: #218838;
}

.btn-geo {
    background-color: #007bff; /* Azul para Geografía */
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 30px; /* Separar el botón del título */
}

.btn-geo:hover {
    background-color: #0056b3;
}

.btn-historia {
    background-color: #dc3545; /* Rojo para Historia */
    color: white;
    font-size: 18px;
    padding: 12px 44px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 30px; /* Separar el botón del título */
}

.btn-historia:hover {
    background-color: #c82333;
}




.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.text-box {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover en la caja de texto */
.text-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.text-box img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.text-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilos de colores pastel para los botones */
.btn-blue { background-color: #5ac9eb; color: white; }
.btn-pink { background-color: #ee83b0; color: white; }
.btn-yellow { background-color: #ebb849; color: white; }
.btn-orange { background-color: #8cf35c; color: white; }
.btn-purple { background-color: #c482ec; color: white; }

/* Hover en los botones */
.button-style {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
    transition: background-color 0.3s ease;
}

.btn-blue:hover { background-color: #18a7d3; }
.btn-pink:hover { background-color: #c2316e; }
.btn-yellow:hover { background-color: #c2880b; }
.btn-orange:hover { background-color: #4ccf0f; }
.btn-purple:hover { background-color: #a243dd; }




.content-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Título de la categoría */
.content-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase; /* Convertimos el título a mayúsculas */
}

.content-text {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    white-space: pre-wrap; /* Conserva los saltos de línea sin usar <pre> */
    text-align: justify;
}

/* Estilo del enlace para volver */
.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #0056b3;
}

.content-text span:hover {
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s ease;
}
