<!DOCTYPE html>
<html lang="es">
    <head>
        {% include "navbar.html" %}
        <title>{{ category }} - {{ text_file.replace('.txt', '').upper() }}</title>
    </head>
<body>
    <div class="content-container">
        <h2 class="content-title">{{ text_file.replace('.txt', '').upper() }}</h2>
        <pre class="content-text">{{ content }}</pre>

        <div style="text-align: center;">
            <a href="{{ url_for('show_texts_main', type=type) }}" class="back-link">Volver a temas de {{ category }}</a>

        </div>
    </div>
</body>
</html>

