<form action="/survey" method="POST">
    <p>¿Qué tan útil fue el texto original?</p>
    <label>
        <input type="radio" name="original_percentage" value="1"> 1 (Nada útil)
    </label><br>
    <label>
        <input type="radio" name="original_percentage" value="2"> 2
    </label><br>
    <label>
        <input type="radio" name="original_percentage" value="3"> 3
    </label><br>
    <label>
        <input type="radio" name="original_percentage" value="4"> 4
    </label><br>
    <label>
        <input type="radio" name="original_percentage" value="5"> 5 (Muy útil)
    </label><br><br>

    <p>¿Qué tan útil fue el texto con humor?</p>
    <label>
        <input type="radio" name="humor_percentage" value="1"> 1 (Nada útil)
    </label><br>
    <label>
        <input type="radio" name="humor_percentage" value="2"> 2
    </label><br>
    <label>
        <input type="radio" name="humor_percentage" value="3"> 3
    </label><br>
    <label>
        <input type="radio" name="humor_percentage" value="4"> 4
    </label><br>
    <label>
        <input type="radio" name="humor_percentage" value="5"> 5 (Muy útil)
    </label><br><br>

    <button type="submit">Enviar encuesta</button>
</form>
